<!--<div id="background2">
	<div class="">
		<div class="row">

			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container"> 
                    <img class="img-responsive" src="img/bedroom-389254_1280.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="container col-md-6 col-xs-12 text">
				<h1>집</h1>
				<hr>
				<p>Baum house service는 친환경 제품으로 오염된 공기 속의 박테리아와 세 균들을 박멸합니다. 또한 토양, 건축자재에서 발산되는 인체에 유해한 자 연방사성 물질인 라돈을 제거하고, 새집증후군의 원인이 되는 유독물질 포름알데히드를 분해해줌으로써 자연 산림효과까지 동시에 얻을 수 있습니다. 바움은 단순 탈취 효과가 아닌 강력한 살균ᆞ항균 작용으로 고객에게 쾌적하고 편안한 주거환경을 제공해드립니다.</p>
			</div>
		</div>
	</div>
	<div class=" w3-hide-small  w3-hide-medium">
		<div class="row">
			<div class="col-md-6 col-xs-12 text">
				<h1>호텔</h1>
				<hr>
				<p>Baum hotel service는 모든 고객에게 쾌적한 실내 환경을 제공해드립니다. 단순 공기 순환기능이 아닌 공기 청정을 통하여 숲에서 호흡하는 것과 같은 신선함을 드립니다. 숙박 업체에서 사용하는 청소용품에는 대부분 인체에 유해한 화학물질이 포함되어 있습니다. 하지만 친환경 제품 바움은 불쾌한 냄새와 각종 박테리아 및 세균들을 박멸하여 유해물질을 제거하고 공기의 질을 높여줍니다. 또한 강력한 항균작용 및 탈취기능으로 깔끔한 시설을 제공합니다.</p>
			</div>
			
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/interior-2057638_1280.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
		</div>
	</div>
	<div class=" w3-hide-large">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/interior-2057638_1280.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 text">
				<h1>호텔</h1>
				<hr>
				<p>Baum hotel service는 모든 고객에게 쾌적한 실내 환경을 제공해드립니다. 단순 공기 순환기능이 아닌 공기 청정을 통하여 숲에서 호흡하는 것과 같은 신선함을 드립니다. 숙박 업체에서 사용하는 청소용품에는 대부분 인체에 유해한 화학물질이 포함되어 있습니다. 하지만 친환경 제품 바움은 불쾌한 냄새와 각종 박테리아 및 세균들을 박멸하여 유해물질을 제거하고 공기의 질을 높여줍니다. 또한 강력한 항균작용 및 탈취기능으로 깔끔한 시설을 제공합니다.</p>
			</div>			
		</div>
	</div>
	<div class="">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/hospital-1338585_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				<h1>병원</h1>
				<hr>
				<p>면역력이 약한 환자들이 머무는 병원은 바움 서비스가 가장 필요한 공간입니다. 병원의 실내 공기 중에는 많은 종류의 세균들과 박테리아가 존재합니다. 하지만 바움 제품의 주성분인 피톤치드는 바이러스에 강력한 항균작용을 일으키고 뛰어난 탈취기능으로 쾌적한 환경을 만들어줍니다.또한 스트레스 호르몬 감소효과도 있기 때문에 병원에서 이용하기 아주 적합한 서비스입니다.</p>
			</div>
		</div>
	</div>
	<div class=" w3-hide-large">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/class-1416904_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				<h1>어린이집</h1>
				<hr>
				<p>공기 중에 떠도는 포름알데히드는 면역력이 약한 발육기의 어린이에게 노출되면 쉽게 질병에 감염되고 허약체질로 발전하며 호흡기 질환과 알레르기 질환에 위협 받을 수 있습니다. 또한 여름철 에어컨, 겨울철 히터에서 나오는 각종 세균과 박테리아로부터 우리 아이들의 건강이 위협 받고 있습니다. 친환경 제품 바움 서비스를 통해 휘발성 유기화합물 및 여러 유해물질 그리고 세균, 박테리아로부터 우리 아이들의 건강을 지켜드릴 것을 약속드립니다.</p>						
			</div>
		</div>
	</div>
	<div class=" w3-hide-small w3-hide-medium">
		<div class="row">
			<div class="col-md-6 col-xs-12 text">
				<h1>어린이집</h1>
				<hr>
				<p>공기 중에 떠도는 포름알데히드는 면역력이 약한 발육기의 어린이에게 노출되면 쉽게 질병에 감염되고 허약체질로 발전하며 호흡기 질환과 알레르기 질환에 위협 받을 수 있습니다. 또한 여름철 에어컨, 겨울철 히터에서 나오는 각종 세균과 박테리아로부터 우리 아이들의 건강이 위협 받고 있습니다. 친환경 제품 바움 서비스를 통해 휘발성 유기화합물 및 여러 유해물질 그리고 세균, 박테리아로부터 우리 아이들의 건강을 지켜드릴 것을 약속드립니다.</p>		
			</div>
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/class-1416904_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
		</div>
	</div>
</div>-->



<!--<div id="background2">
	<div class="container">
        <h1 class="header">Building Service</h1>
		<div class="row">

			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/bedroom-389254_1280.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">  
                            	
                               <img src="img/wobaumk.png" class="img-responsive"> 

                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                               
                            </div>
                        </div>
                    </div>
                </div>
           	</div>
			
			<div class="col-md-6 col-xs-12 text">
				
				<h1>집</h1>
				<hr>
				<p>Baum house service는 친환경 제품으로 오염된 공기 속의 박테리아와 세 균들을 박멸합니다. 또한 토양, 건축자재에서 발산되는 인체에 유해한 자 연방사성 물질인 라돈을 제거하고, 새집증후군의 원인이 되는 유독물질 포름알데히드를 분해해줌으로써 자연 산림효과까지 동시에 얻을 수 있습니다. 바움은 단순 탈취 효과가 아닌 강력한 살균ᆞ항균 작용으로 고객에게 쾌적하고 편안한 주거환경을 제공해드립니다.</p>
			</div>
					
		</div>
	</div>
	<div class="container">
		<div class="row">
			
			
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/interior-2057638_1280.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">

                            <div class="vertical-middle-inner">
                                                                               
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-md-6 col-xs-12 text">
                <h1>호텔</h1>
				<hr>
				<p>Baum hotel service는 모든 고객에게 쾌적한 실내 환경을 제공해드립니다. 단순 공기 순환기능이 아닌 공기 청정을 통하여 숲에서 호흡하는 것과 같은 신선함을 드립니다. 숙박 업체에서 사용하는 청소용품에는 대부분 인체에 유해한 화학물질이 포함되어 있습니다. 하지만 친환경 제품 바움은 불쾌한 냄새와 각종 박테리아 및 세균들을 박멸하여 유해물질을 제거하고 공기의 질을 높여줍니다. 또한 강력한 항균작용 및 탈취기능으로 깔끔한 시설을 제공합니다.</p>
            </div>
			
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/hospital-1338585_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">
                            	                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				<h1>병원</h1>
				<hr>
				<p>면역력이 약한 환자들이 머무는 병원은 바움 서비스가 가장 필요한 공간입니다. 병원의 실내 공기 중에는 많은 종류의 세균들과 박테리아가 존재합니다. 하지만 바움 제품의 주성분인 피톤치드는 바이러스에 강력한 항균작용을 일으키고 뛰어난 탈취기능으로 쾌적한 환경을 만들어줍니다.또한 스트레스 호르몬 감소효과도 있기 때문에 병원에서 이용하기 아주 적합한 서비스입니다.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/class-1416904_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">
                                                                                
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				<h1>어린이집</h1>
				<hr>
				<p>공기 중에 떠도는 포름알데히드는 면역력이 약한 발육기의 어린이에게 노출되면 쉽게 질병에 감염되고 허약체질로 발전하며 호흡기 질환과 알레르기 질환에 위협 받을 수 있습니다. 또한 여름철 에어컨, 겨울철 히터에서 나오는 각종 세균과 박테리아로부터 우리 아이들의 건강이 위협 받고 있습니다. 친환경 제품 바움 서비스를 통해 휘발성 유기화합물 및 여러 유해물질 그리고 세균, 박테리아로부터 우리 아이들의 건강을 지켜드릴 것을 약속드립니다.</p>		
			</div>
		</div>
	</div>
	
</div>-->



<div id="background2">
    <div class="container">
        <button onclick="closeInfo('home')" onclick="serviceInfo('home')" class="w3-padding-16 w3-btn-block">Home & Office</button>
        <div id="home" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/home1.jpg" class="img-responsive"></div>
            <div class="row"><img src="img/service/home2.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="head">새집증후군</h3>
                    <p>인테리어 후 건축자재 등에서 배출되는 발암물질과 유기화합물에 의해 질병을 유발하며, 특히 면역력이 약한 여성과 어린이들이 오랜기간 노출되면 호흡기질환, 심장병, 암 등의 질병이 나타날 수 있습니다.</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h3 class="head">헌집증후군</h3>
                    <p>습기가 많은 곳에서 서식하는 곰팡이, 일상생활에서 문제가 되는 진드기, 오래된 배수관/ 가스관에서 새어나오는 메탄가스와 암모니아, 일산화탄소, 이산화질소, 이산화황 등은 두통과 현기증, 알레르기, 비염과 같은 만성 질환을 유발합니다.</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h3 class="head">애완동물</h3>
                    <p>애완동물과 함께 하는 공간은 애완동물 배설물에 의한 악취가 발생되며 피부각질, 털 등은 미세먼지와 함께 공기중에 부유하여 알레르기 질환 및 비염 등을 유발합니다.</p>
                </div>
            </div><br>
            <div class="row">
                <h3 class="head">사무실</h3>
                <p>새집증후군이나 헌집증후군과 같이 잠재적 위험요소가 있는 사무실도 바움을 통해 병원성 세균을 억제하여 사람들의 직·간접적인 세균 전염을 방지하고, 외부로부터 유입되는 부유먼지를 저감시켜 알레르기 및 비염을 예방할 수 있습니다. 또한 스트레스 호르몬인 코티솔 수치 저하작용으로 직장인들의 스트레스 해소에 도움을 주고 쾌적한 환경을 제공하여 업무 효율성을 배가시킵니다.</p>
            </div><br><hr>
            <div class="row">
                <p>바움은 한국건설생활환경시험연구원(KCL)을 통해 유해물질 불검출과 항균 99.9%, 탈취 99.6% 효과를 인증받았습니다.</p>
                <p>자연 그대로의 친환경 탈취/방향제로서 상기 증후군을 예방 및 완화시켜 집과 사무실을 더욱 쾌적하고 건강하게 만들어줍니다.</p>
            </div>
        </div>
        <button onclick="serviceInfo('hospital')" class="w3-padding-16 w3-btn-block">Hospital & Sanatorium</button>
        <div id="hospital" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/hospital1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-6"><img src="img/service/hospital2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-6"><img src="img/service/hospital3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">병원/요양원/산후조리원 등</h3>
                <p>항바이러스, 항곰팡이 작용으로 세균과 곰팡이를 억제하는 것은 물론 해충 기피 작용으로 휴식과 요양을 필요로 하는 이들이 더 위생적이고 깨끗한 환경에서 쉴 수 있습니다.</p><br>
                <h3 class="head">동물병원/ 펫샵/ 동물호텔 등</h3>
                <p>바움은 동물 배설물 악취의 주요 원인이 되는 암모니아 성분을 99% 제거하여 쾌적한 환경을 만들 수 있습니다.</p>
                <p>또한 동물의 피부각질, 털 등 부유 물질을 억제하여 그로인한 알레르기 및 비염 유발을 저감시킵니다.</p><br><hr>
                <p>바움은 화학성분이 없기 때문에 모두에게 안전한 살균/소독 및 청정 효과를 볼 수 있습니다.</p>
            </div>
        </div>
        <button onclick="serviceInfo('sports')" class="w3-padding-16 w3-btn-block">Sports Center</button>
        <div id="sports" class="w3-accordion-content w3-padding-large service">
            <div class="row">
                <div class="col-md-6 col-xs-6"><img src="img/service/sports1.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-6"><img src="img/service/sports2.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6"><img src="img/service/sports3.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-6"><img src="img/service/sports4.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">스포츠센터</h3>
                <p>오랜기간동안 누적 된 찌든내를 제거하는 기능이 탁월하여 쾌적한 스포츠 환경을 만들고, 개인 락커룸 땀냄새 제거 및 항균 정화작용을 통하여 청정한 환경을 제공합니다.</p>
                <p>또한, 렌탈용 신발의 악취를 단순 방향제처럼 덮는 방식이 아닌 원인균 분해 및 항균작용을 통해 오랜시간 신발의 악취를 억제하며 무좀균 억제에도 효과적입니다.</p><br>
                <p>골프장, 헬스장, 수영장, 볼링장 등 스포츠센터의 휴게실과 흡연실 등에 찌든 땀과 담배냄새 제거에 도움이 되며 살균/소독 기능으로 쾌적한 공간을 제공합니다.</p><br><hr>
                <p>스포츠 센터는 다른 건물에 비해 호흡량이 특히 많은 곳입니다.</p>
                <p>건강을 위해 운동하는 사람들이 바움을 통해 더욱 청정한 공기속에서 호흡할 수 있습니다.</p>
            </div>
        </div>
        <button onclick="serviceInfo('kids')" class="w3-padding-16 w3-btn-block">Kids Zone</button>
        <div id="kids" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/kids1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12"><img src="img/service/kids2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-12"><img src="img/service/kids3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">아이들이 숨쉬는 곳</h3>
                <p>어린이집, 유치원, 학교, 학원, 도서관, 키즈카페 등 키즈존 역시 직/간접적인 병원성 세균과 각종 시설 부자재 및 방부제 페인트 등에서 꾸준히 발생되는 유해물질 노출로 우리 아이들의 건강이 위협받고 있습니다.</p><br>
                <p>키즈존에 머무는 아이들은 물론 감기와 각종 전염병, 미세먼지 등으로 늘 자녀 걱정을 하는 부모와 부모의 걱정을 믿음으로 보여주고자 하는 기관장 모두를 위해 바움이 존재합니다.</p><br>
                <p>바움은 아이들의 면역력을 강화시키고, 알레르기성 질환인 비염, 아토피를 예방하며 진드기 부유물, 휘발성 유기화합물, 유해물질, 기본적인 모든 악취까지 제거하여 아이들이 머무는 공간을 보다 안전하고 쾌적하게 바꿔드립니다.</p><br>
                <p>바움은 100% 친환경 천연제품으로 소중한 우리 아이들의 건강을 더욱더 안전하게 책임집니다.</p><br><hr>
                <p>바움은 아토피질환 개선, 면연력 활성화, 탈취/ 정화 기능이 뛰어나 아이들이 머무는 곳에 매우 효과적입니다.</p>
                <p>소중한 우리 아이들이 숨쉬는 모든 키즈존을 바움으로 케어하세요.</p>
            </div>
        </div>
        <button onclick="serviceInfo('accomodation')" class="w3-padding-16 w3-btn-block">Accomodation</button>
        <div id="accomodation" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/accomodation1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12"><img src="img/service/accomodation2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-12"><img src="img/service/accomodation3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">다양하고 많은 사람들이 머무는 숙박업소</h3>
                <p>바움은 침구 및 이불에 잠식한 진드기 및 부유물, 오랜기간 누적된 찌든내와 담배냄새를 완벽하게 제거하고 보이지 않는 곳의 곰팡이를 억제하여 쾌적한 환경을 만듭니다.</p><br><hr>
                <p>호텔, 모텔, 펜션, 리조트, 게스트하우스 등 숙박시설을 찾는 이들에게 쾌적하고 편안한 휴시을 제공할 수 있도록 바움이 한 발 앞서겠습니다.</p>
            </div>
        </div>
        <button onclick="serviceInfo('free')" class="w3-padding-16 w3-btn-block">Entertainment Zone</button>
        <div id="free" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/free1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12"><img src="img/service/free2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-12"><img src="img/service/free3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">취미/여가 활동을 위한 엔터테인먼트 존</h3>
                <p>스크린골프장을 비롯하여 노래방, PC방, 당구장, 카페 등의 밀폐된 공간 속 부유먼지, 사람에 의한 병원성 세균 감염노출, 휘발성 화학제품인 방향제에 의존했던 쾌쾌한 냄새까지 한번에 해결하여 깨끗하고 쾌적한 여가시설로 탈바꿈 해드립니다.</p><br><hr>
                <p>사람이 숨쉬는 곳은 깨끗하고 쾌적해야 합니다.</p>
                <p>특히 밀폐되고 사람이 많은 공간에 바움이 꼭 필요합니다.</p>
            </div>
        </div>
    </div>
</div>

