<!--<div id="background2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/golf-1695459_640.jpg" alt="골프" class="picture">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>골프</h1>
				<hr>
				<p>나쁜 냄새를 제거하고 박테리아 / 세균을 신발과 옷에서 죽입니다.</p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-small  w3-hide-medium">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h1>볼링</h1>
				<hr>
				<p>렌탈 신발에서 나쁜 냄새를 제거하고 박테리아 / 세균을 죽입니다.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<img src="img/bowling-alley-690283_640.jpg" alt="볼링" class="picture">
			</div>
			
		</div>
	</div>
	<div class="container w3-hide-large">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/bowling-alley-690283_640.jpg" alt="볼링" class="picture">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>볼링</h1>
				<hr>
				<p>렌탈 신발에서 나쁜 냄새를 제거하고 박테리아 / 세균을 죽입니다.</p>
			</div>			
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/ice-skates-1864348_640.jpg" alt="아이스 스케이팅" class="picture">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>아이스 스케이팅</h1>
				<hr>
				<p>렌탈 신발에서 나쁜 냄새를 제거하고 박테리아 / 세균을 죽입니다.</p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-large">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/shoes-428632_640.jpg" alt="스키 리조트" class="picture">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>스키 리조트</h1>
				<hr>
				<p>렌탈 신발에서 나쁜 냄새를 제거하고 박테리아 / 세균을 죽입니다.</p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-small w3-hide-medium">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h1>스키 리조트</h1>
				<hr>
				<p>렌탈 신발에서 나쁜 냄새를 제거하고 박테리아 / 세균을 죽입니다.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<img src="img/shoes-428632_640.jpg" alt="스키 리조트" class="picture">
			</div>
			
		</div>
	</div>
</div>-->



<div id="background2">
<div class="container text">
<h1 class="header">Shoes Service</h1>
<p>Baum Shoes Service는 친환경 제품으로 신발 속 곰팡이 및 무좀균으로 냄새를 단순하게 덮어 일시적으로 해결 하는 방법이 아닌, 근본적인 원인을 제거하여 악취가 나는 신발에 상쾌한 발을 오랜 시간 지속 시켜 드립니다.</p>
<p>신었던 신발을 벗고 뿌려만 주세요. 인체에 무해한 제품으로 놀라운 결과를 맞이 하게 됩니다. 운동화, 구두 등 그리고 렌탈용 골프화, 볼링화, 스케이트화, 스키화 그 동안 찝찝하고 불쾌했던 렌탈화들을 Baum이 앞장서서 해결해드립니다.</p>
</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/golfer-1960998_640-2.jpg" alt="baum golf">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <h1>골프</h1>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 image">
			<div class="overlay-container">
                    <img src="img/bowling-alley-690283_640-2.jpg" class="img-responsive" alt="baum bowling">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>볼링</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img src="img/ice-skates-1864348_640-2.jpg" class="img-responsive" alt="baum ice skating">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>아이스 스케이팅</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 image">
			<div class="overlay-container">
                    <img src="img/shoes-428632_640-2.jpg" class="img-responsive" alt="baum skiing">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>스키</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>


	
</div>

