<div id="background2">
<div class="container text">
	<h1 class="header">Pet Service</h1>
<p>Baum Pet service는 애완동물을 키우는 과정에서 발생하는 악취, 그리고 애완동물의 피부각질과 털 등이 공기 중에 부유하여 생기는 알레르기 질환 등을 Baum은 자연친화적인 방법으로 이런 애로사항을 해결하여 보다 좋은 환경으로 만들어 드립니다.</p>
</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/dog-1134492_640.jpg" alt="baum 애완 동물">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>애완 동물</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 image">
			<div class="overlay-container">
                    <img class="img-responsive" src="img/dog-1912874_640-2.jpg" alt="baum 수의사">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>수의사</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>
	
</div>
