<!--<div id="background2">
	<tabs>
      <tab tabTitle="건물"><app-building-kor></app-building-kor></tab>
      <tab tabTitle="구두"><app-leisure-kor></app-leisure-kor></tab>
      <tab tabTitle="차량"><app-transportation-kor></app-transportation-kor></tab>
      <tab tabTitle="애완 동물"><app-pets-kor></app-pets-kor></tab>
	</tabs>
</div>-->

<div id="background2">
	<div class="container">
		<button class="w3-btn-block" [routerLink]="['/service-kor/building-kor']"><h2>건물시공</h2></button>
		<button class="w3-btn-block" [routerLink]="['/service-kor/shoes-kor']"><h2>신발</h2></button>
		<button class="w3-btn-block" [routerLink]="['/service-kor/transportation-kor']"><h2>자동차</h2></button>
		<button class="w3-btn-block" [routerLink]="['/service-kor/pets-kor']"><h2>애완동물</h2></button>
	</div>
</div>
