* {
  margin: 0px;
  padding: 0px;
}

#background2 {
  min-height: 100%;
}

.w3-btn-block {
  border: 3px solid rgb(11, 112, 82);
  background-color: rgba(11, 112, 82, 0.6);
  color: black;
}


@media only screen and (max-width: 700px) {
#background2 {
  min-height: 100%;
  padding: 10px;

 
 }

 .w3-btn-block {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
 
 }

 .container {
  padding-top: 30px;
  margin: auto;
 }


}