<!--<div id="background2">
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container"> 
                    <img class="img-responsive" src="img/school-bus-946671_640.jpg" alt="학교 버스">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>

		
			
			<div class="col-md-6 col-xs-12 text">
				<h1>학교 버스</h1>
				<hr>
				<p>스쿨버스 차량의 유해물질은 내부 구조물 및 시트, 플라스틱 내장재, 접착제, 그리고 방수제에서 발생됩니다. 특히 포름알데히드, 톨루엔은 면역력이 약한 발육기의 어린이에게 노출되면 쉽게 질병에 감염되고 허약체질로 발전하며 호흡기 질환과 알레르기 질환에 위협 받을 수 있습니다. 또한 여름철 에어컨, 겨울철 히터에서 나오는 각종 세균과 박테리아로부터 우리 아이들의 건강이 위협 받고 있습니다. </p>
				<p>Baum School bus Service는 휘발성 유기화합물과 여러 유해물질 그리고 세균, 박테리아로부터 우리 아이들의 건강을 지켜 줄 것을 약속 드립니다.</p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-small  w3-hide-medium">
		<div class="row">
			<div class="col-md-6 col-xs-12 text">
				<h1>차</h1>
				<hr>
				<h3>새차증후군</h3>
				<p>차량 내부 구조물, 가죽시트, 플라스틱 내장재와 접착제, 방수제에서 발생하는 여러 휘발성 유기 화합물과 포름알데히드, 톨루엔에 노출되어 두통, 만성피로, 알레르기 등 건강에 유해한 영향을 끼치는 원인을 제거하고 쾌적하게 운전 할 수 있는 환경을 만들어 드립니다.</p><br>
				<h3>중고차</h3>
				<p>오랜 시간 찌들어있던 담배냄새, 음식물냄새 그리고 내장재에서 끊임없이 나오는 유해물질을 제거하여 새 차 같은 환경을 만들어 드립니다.</p>
			</div>
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container"> 
                     <img class="img-responsive" src="img/seat-cushion-1099616_640.jpg" alt="baum new car">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>

			
			
		</div>
	</div>
	<div class="container w3-hide-large">
		<div class="row">

			
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container"> 
                     <img class="img-responsive" src="img/seat-cushion-1099616_640.jpg" alt="baum new car">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 text">
				<h1>차</h1>
				<hr>
				<h3>새차증후군</h3>
				<p>차량 내부 구조물, 가죽시트, 플라스틱 내장재와 접착제, 방수제에서 발생하는 여러 휘발성 유기 화합물과 포름알데히드, 톨루엔에 노출되어 두통, 만성피로, 알레르기 등 건강에 유해한 영향을 끼치는 원인을 제거하고 쾌적하게 운전 할 수 있는 환경을 만들어 드립니다.</p><br>
				<h3>중고차</h3>
				<p>오랜 시간 찌들어있던 담배냄새, 음식물냄새 그리고 내장재에서 끊임없이 나오는 유해물질을 제거하여 새 차 같은 환경을 만들어 드립니다.</p>
			</div>			
		</div>
	</div>
	
</div>-->






<div id="background2">
	<div class="container">
		<h1 class="header">Transportation Service</h1>
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container"> 
                    <img class="img-responsive" src="img/school-bus-946671_640.jpg" alt="학교 버스">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				<h1>학교 버스</h1>
				<hr>
				<p>스쿨버스 차량의 유해물질은 내부 구조물 및 시트, 플라스틱 내장재, 접착제, 그리고 방수제에서 발생됩니다. 특히 포름알데히드, 톨루엔은 면역력이 약한 발육기의 어린이에게 노출되면 쉽게 질병에 감염되고 허약체질로 발전하며 호흡기 질환과 알레르기 질환에 위협 받을 수 있습니다. 또한 여름철 에어컨, 겨울철 히터에서 나오는 각종 세균과 박테리아로부터 우리 아이들의 건강이 위협 받고 있습니다. </p>
				<p>Baum School bus Service는 휘발성 유기화합물과 여러 유해물질 그리고 세균, 박테리아로부터 우리 아이들의 건강을 지켜 줄 것을 약속 드립니다.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container"> 
                     <img class="img-responsive" src="img/seat-cushion-1099616_640.jpg" alt="baum new car">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 text">
				<h1>차</h1>
				<hr>
				<h3>새차증후군</h3>
				<p>차량 내부 구조물, 가죽시트, 플라스틱 내장재와 접착제, 방수제에서 발생하는 여러 휘발성 유기 화합물과 포름알데히드, 톨루엔에 노출되어 두통, 만성피로, 알레르기 등 건강에 유해한 영향을 끼치는 원인을 제거하고 쾌적하게 운전 할 수 있는 환경을 만들어 드립니다.</p><br>
				<h3>중고차</h3>
				<p>오랜 시간 찌들어있던 담배냄새, 음식물냄새 그리고 내장재에서 끊임없이 나오는 유해물질을 제거하여 새 차 같은 환경을 만들어 드립니다.</p>
			</div>			
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container"> 
                     <img class="img-responsive" src="img/service/motorhome-820593_1920.jpg" alt="baum new car">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaumk.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 text">
				<h1>캠핑카, 영업용 차량 등 모든 자동차</h1>
				<hr>
			
				<p>여행을 사랑하고 즐기는 캠핑족에게 캠핑카도 쾌적한 제 2의 집이 될 수 있도록 바움이 존재합니다.</p><br>
				
				<p>차량에 탑승하고 있는 시간이 많은 택시, 트럭, 버스, 특수차량 등 영업용 차량에도 쾌적한 환경을 제공하고 스트레스 감소효과를 위해 바움이 필요합니다.</p>
			</div>			
		</div><br><hr>
	<p>여름철 에어컨과 겨울철 히터에서 발생되는 각종 세균과 박테리아, 매연에서도 유입되는 유해물질에 노출되는 자동차실내를 바움으로 소독하세요.</p>
	</div>
	
</div>

