<!--<div id="background2">
	<div class="container">
        <h1 class="header">Building Service</h1>
		<div class="row">

			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/bedroom-389254_1280.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">  
                            	
                               <img src="img/wobaume.png" class="img-responsive"> 

                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                               
                            </div>
                        </div>
                    </div>
                </div>
            
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				
					<h1>Home</h1>
				<hr>
				<p>Kills bacteria and germs. Provides a pleasant and relaxing aroma. Eliminates radon that can cause lung cancer.</p>
				<p>Radon is a radioactive, colorless, odorless, tasteless noble gas. Unlike all the other intermediate elements in the aforementioned decay chains, radon is, under normal conditions, gaseous and easily inhaled. Radon gas is a health hazard. It is often the single largest contributor to an individual's background radiation dose. According to the United States Environmental Protection Agency, radon is the second most frequent cause of lung cancer, after cigarette smoking, causing 21,000 lung cancer deaths per year in the United States. About 2,900 of these deaths occur among people who have never smoked.</p>
				
					
			</div>
					
		</div>
	</div>
	<div class="container">
		<div class="row">
			
			
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/interior-2057638_1280.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">

                            <div class="vertical-middle-inner">
                                                                               
                               <img src="img/wobaume.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-md-6 col-xs-12 text">
                <h1>Hotel</h1>
                <hr>
                <p>Our product can make your customer stay even better. Keeping a room fresh when new people always come and go is very hard. Even air refresheners can't handle it. Our product will eliminate all the unpleasant odor and sanitize the room without any harm to your guests (Most of cleaning chemicals include bad ingredients that are not good/safe for humans).</p>
            </div>
			
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/hospital-1338585_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">
                            	                                                    
                               <img src="img/wobaume.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				<h1>Hospital</h1>
				<hr>
				<p>Many people get sick or have various diseases, so they go to hospital to see a doctor and get a cure. This is what makes hospital a dangerous place to stay at. There are too many sick people and they spread all kind of bacteria and germs very quickly. And even thouth there are many sanitizers, it is still not enough. Phytoncide can add extra security and peace of mind, as well as nice, forest smell that can be benefical in many ways.</p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-large">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/class-1416904_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">
                                                                                
                               <img src="img/wobaume.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="col-md-6 col-xs-12 text">
				<h1>Kindergarten</h1>
				<hr>
				<p>Young kids are always curious and want to explore everything. They don't care about hygiene at all. They touch dirty objects from class room or outside and then touch themselves with dirty hands. And it makes them an easy victim to bacteria and germs. With Phytonchide parents can feel safe about their kids. Our phytonchide product will kill germs and bacteria and add pleasant forest smell that can improve brain concentration (scientific proof).</p>				
			</div>
		</div>
	</div>
	<div class="container w3-hide-small w3-hide-medium">
		<div class="row">
			
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/class-1416904_640.jpg" alt="baum home">
                    <div class="overlay wobaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wobaume.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                    <div class="overlay wbaum">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <img src="img/wbaum.png" class="img-responsive">                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-md-6 col-xs-12 text">
                <h1>Kindergarten</h1>
                <hr>
                <p>Young kids are always curious and want to explore everything. They don't care about hygiene at all. They touch dirty objects from class room or outside and then touch themselves with dirty hands. And it makes them an easy victim to bacteria and germs. With Phytonchide parents can feel safe about their kids. Our phytonchide product will kill germs and bacteria and add pleasant forest smell that can improve brain concentration (scientific proof).</p>
            </div>
			
		</div>
	</div>
</div>-->

<div id="background2">
    <div class="container">
        <button onclick="closeInfo('home')" onclick="serviceInfo('home')" class="w3-padding-16 w3-btn-block">Home & Office</button>
        <div id="home" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/home1.jpg" class="img-responsive"></div>
            <div class="row"><img src="img/service/home2.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="head">Sick house syndrome</h3>
                    <p>It is caused by the carcinogens and organic compounds emitted from the interior materials after the interior construction. Especially when the women and children with weak immunity are exposed for a long time, diseases such as respiratory diseases, heart disease and cancer may appear.</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h3 class="head">Hypnosis syndrome</h3>
                    <p>Fungi that live in humid places, mites that are a problem in everyday life, methane gas that leaks from old pipes / gas pipes, and ammonia, carbon monoxide, nitrogen dioxide, and sulfur dioxide cause chronic diseases such as headache, dizziness, allergy and rhinitis .</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h3 class="head">Pets</h3>
                    <p>The space with pets is odor caused by pet excrement, and skin keratin and hairs float in the air with fine dust, causing allergic diseases and rhinitis.</p>
                </div>
            </div><br>
            <div class="row">
                <h3 class="head">Office</h3>
                <p>Offices with potential risk factors, such as sick house syndrome or hunger syndrome, can also prevent pathogens by preventing direct and indirect bacterial transmission of people, and reduce allergens and rhinitis by reducing airborne dust from the outside .</p>
                <p> In addition, the stress hormone cortisol level lowering function helps to relieve the stress of the worker and provides a comfortable environment, doubling the work efficiency.</p>
            </div><br><hr>
            <div class="row">
                <p>The learning was certified 99.9% of antibacterial and 99.6% of deodorization through the Korea Institute of Construction and Environment Testing (KCL).</p>
                <p>It is a natural eco-friendly deodorant / fragrance that prevents and alleviates the above syndrome, making home and office more comfortable and healthier.</p>
            </div>
        </div>
        <button onclick="serviceInfo('hospital')" class="w3-padding-16 w3-btn-block">Hospital & Sanatorium</button>
        <div id="hospital" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/hospital1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-6"><img src="img/service/hospital2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-6"><img src="img/service/hospital3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">Hospital / Nursing Home / Postpartum Care</h3>
                <p>Antiviral and anti-fungal action inhibits bacteria and fungi, as well as those who need rest and care due to insect repellent action, can relax in a more hygienic and clean environment.</p><br>
                <h3 class="head">Animal Hospital / Pet Shop / Animal Hotel etc.</h3>
                <p>Baum can make a pleasant environment by removing 99% of ammonia which is the main cause of odor of animal waste.</p>
                <p>It also suppresses dead skin substances such as skin keratin and hair of animal, thereby reducing the allergic and rhinitis caused by it.</p><br><hr>
                <p>Because Baum does not have any chemical components, you can see the safe disinfection and cleaning effect for everyone.</p>
            </div>
        </div>
        <button onclick="serviceInfo('sports')" class="w3-padding-16 w3-btn-block">Sports Center</button>
        <div id="sports" class="w3-accordion-content w3-padding-large service">
            <div class="row">
                <div class="col-md-6 col-xs-6"><img src="img/service/sports1.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-6"><img src="img/service/sports2.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6"><img src="img/service/sports3.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-6"><img src="img/service/sports4.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">Sports center</h3>
                <p>It has excellent ability to remove stubborn accumulation accumulated over a long period of time, creating a pleasant sports environment, providing a clean environment by eliminating the odor of sweat and antimicrobial purification action in the individual locker room.</p>
                <p>In addition, it doesn't just cover the odor of rental shoes like a simple fragrance, instead it is suppressing odor of footwear for a long time by decomposing causative bacteria and antibacterial action and suppressing fungal growth.</p><br>
                <p>It helps to remove stinking sweat and cigarette smell in sports hall's leisure and smoking rooms such as golf course, gym, swimming pool, bowling alley and provides a comfortable space with sterilization / disinfection function.</p><br><hr>
                <p>The sports center has a lot more volume than other buildings.</p>
                <p>People who exercise for health can breathe in cleaner air through Baum.</p>
            </div>
        </div>
        <button onclick="serviceInfo('kids')" class="w3-padding-16 w3-btn-block">Kids Zone</button>
        <div id="kids" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/kids1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12"><img src="img/service/kids2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-12"><img src="img/service/kids3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">Where children are breathing</h3>
                <p>Kids 'zones such as nurseries, kindergartens, schools, schools, libraries, and kids' cafes are also threatened by the exposure of hazardous substances, which are directly or indirectly caused by pathogenic bacteria, various auxiliary materials and preservative paint.</p><br>
                <p>Baum exists for children who stay in the kids zone, as well as cold and various infectious diseases, fine dust, etc., who are always worried about their children and want to faithfully show their worries about their parents.</p><br>
                <p>Baum strengthens children's immunity, prevents allergic diseases such as rhinitis, atopy, mite floats, volatile organic compounds, harmful substances and all basic odors, making children's stay more secure and comfortable.</p><br>
                <p>Baum is a 100% eco-friendly natural product that makes our children's health more secure.</p><br><hr>
                <p>Baum is effective at improving the atopic disease, activating the face tension, and deodorizing / cleansing and keeping the children in the place.</p>
                <p>Care for every kid zone that our precious children breathe.</p>
            </div>
        </div>
        <button onclick="serviceInfo('accomodation')" class="w3-padding-16 w3-btn-block">Accomodation</button>
        <div id="accomodation" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/accomodation1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12"><img src="img/service/accomodation2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-12"><img src="img/service/accomodation3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">Accommodation for a variety of people</h3>
                <p>Baum completely removes odor and mudstorms that accumulate in bedding and bedding, accumulates long-term stinging and smokes, and suppresses fungi invisible to create a pleasant environment.</p><br><hr>
                <p>Baum will be one step ahead to provide a pleasant and relaxing holiday for those looking for hotels, motels, pensions, resorts, guesthouses and more.</p>
            </div>
        </div>
        <button onclick="serviceInfo('free')" class="w3-padding-16 w3-btn-block">Entertainment Zone</button>
        <div id="free" class="w3-accordion-content w3-padding-large service">
            <div class="row"><img src="img/service/free1.jpg" class="img-responsive"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12"><img src="img/service/free2.jpg" class="img-responsive"></div>
                <div class="col-md-6 col-xs-12"><img src="img/service/free3.jpg" class="img-responsive"></div>
            </div>
            <div class="row">
                <h3 class="head">Entertainment Zone for Hobby / Leisure Activities</h3>
                <p>It is transformed into a clean and comfortable leisure facility by solving the screen golf course, floating dust in closed space such as karaoke, PC room, billiard room, cafe, exposure of pathogenic bacterial infection by people, pleasant smell which is dependent on aromatic chemical which is volatile chemical.</p><br><hr>
                <p>The place where people breathe should be clean and pleasant.</p>
                <p>In particular, Baum is a must in a space that is closed and has lots of people.</p>
            </div>
        </div>
    </div>
</div>