<!--<div id="background2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/golf-1695459_640.jpg" class="picture" alt="baum golf">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>GOLF</h1>
				<hr>
				<p>Removes bad smell and kills bacteria/germs. </p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-small  w3-hide-medium">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h1>Bowling</h1>
				<hr>
				<p>Removes bad smell from rental shoes and kills bacteria/germs.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<img src="img/bowling-alley-690283_640.jpg" class="picture" alt="baum bowling">
			</div>
			
		</div>
	</div>
	<div class="container w3-hide-large">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/bowling-alley-690283_640.jpg" class="picture" alt="baum bowling">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>Bowling</h1>
				<hr>
				<p>Removes bad smell from rental shoes and kills bacteria/germs.</p>
			</div>			
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/ice-skates-1864348_640.jpg" class="picture" alt="baum ice skating">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>Ice Skating</h1>
				<hr>
				<p>Removes bad smell from rental shoes and kills bacteria/germs.</p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-large">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<img src="img/shoes-428632_640.jpg" class="picture" alt="baum ice skating">
			</div>
			<div class="col-md-6 col-xs-12">
				<h1>Ski Resort</h1>
				<hr>
				<p>Removes bad smell from rental shoes and kills bacteria/germs.</p>
			</div>
		</div>
	</div>
	<div class="container w3-hide-small w3-hide-medium">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h1>Ski Resort</h1>
				<hr>
				<p>Removes bad smell from rental shoes and kills bacteria/germs.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<img src="img/shoes-428632_640.jpg" class="picture" alt="baum ice skating">
			</div>
			
		</div>
	</div>
</div>-->



<div id="background2">
<div class="container text">
<h1 class="header">Shoes Service</h1>
<p>Baum Shoes Service is an eco-friendly product. It is not a temporary solution to cover the odor with mildew and anthracnose in shoes, but it eliminates the root cause and keeps your feet fresh for long time.</p>

<p>This product is harmless to the human body and can be used for any kind of shoes: sneakers, shoes, rental golf shoes, bowling, ice skating, skiing etc.</p>
</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/golfer-1960998_640-2.jpg" alt="baum golf">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                               <h1>Golf</h1>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 image">
			<div class="overlay-container">
                    <img src="img/bowling-alley-690283_640-2.jpg" class="img-responsive" alt="baum bowling">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>Bowling</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img src="img/ice-skates-1864348_640-2.jpg" class="img-responsive" alt="baum ice skating">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>Ice Skating</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 image">
			<div class="overlay-container">
                    <img src="img/shoes-428632_640-2.jpg" class="img-responsive" alt="baum skiing">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>Skiing</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>


	
</div>
