<div id="background2">
<div class="container text">
	<h1 class="header">Pet Service</h1>
<p>Baum Pet service is a kind of environment-friendly way to deal with the odor of pet pets and the allergic diseases caused by pet's skin keratin and hair floating in the air.</p>
</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 image">
				<div class="overlay-container">
                    <img class="img-responsive" src="img/dog-1134492_640.jpg" alt="baum 애완 동물">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>Pets</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6 col-xs-12 image">
			<div class="overlay-container">
                    <img src="img/dog-1912874_640-2.jpg" class="img-responsive" alt="baum 수의사">
                    <div class="overlay">
                        <div class="vertical-middle">
                            <div class="vertical-middle-inner">                                                    
                                <h1>Veterinary</h1>                                 
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
		</div>
	</div>
	
</div>
