<!--<div id="background2">
	<tabs>
      <tab tabTitle="Building"><app-building></app-building></tab>
      <tab tabTitle="Shoes"><app-leisure></app-leisure></tab>
      <tab tabTitle="Transportation"><app-transportation></app-transportation></tab>
      <tab tabTitle="Pets"><app-pets></app-pets></tab>
	</tabs>
</div>-->
<div id="background2">
	<div class="container">
		<button class="w3-btn-block" [routerLink]="['/service/building']"><h2>Building</h2></button>
		<button class="w3-btn-block" [routerLink]="['/service/shoes']"><h2>Shoes</h2></button>
		<button class="w3-btn-block" [routerLink]="['/service/transportation']"><h2>Transportation</h2></button>
		<button class="w3-btn-block" [routerLink]="['/service/pets']"><h2>Pets</h2></button>
	</div>
</div>
