

<!-- Contact Section -->
<div class="w3-container" id="contact">
  
  <div class="row">
     <div class="col-md-6 col-xs-12">
      <img src="img/contact/phone-612061_1920.jpg" class="img-responsive">
    </div>
    <h2>General / Sales Enquiries</h2>
    <div class="col-md-6 col-xs-12 info">      
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right "></i><b>Address:</b> 193-8 Osan-ri, Mohyeon-myeon, Cheoin-gu, Yongin-si, Gyeonggi-do</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i><b>Phone/FAX:</b> +82 10-4177-4445 / 031-334-1655</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i><b>Email:</b> baum_johj@naver.com</p>
     
    </div>
   

    <!--<div class="w3-half"><br> 
    <button class="w3-btn w3-padding" style="margin-bottom: 50px !important;" onclick="displayMap()">지도 표시</button>
      Add Google Maps 
      <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>
    </div>-->
  </div>
  <div class="row">
  <div class="col-md-6 col-xs-12">
      <img src="img/contact/rock-1573133_1920.jpg" class="img-responsive">
    </div>
    <h2>Franchisee Enquiries</h2>
    <div class="col-md-6 col-xs-12 info">
       <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i><b>Phone/FAX:</b> +82 10-3702-6334 / 031-334-1655</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i><b>Email:</b> baum_hajs@naver.com</p>
    </div>
    
  </div>

</div>