<div id="background2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h1>서산수 골프&리조트</h1>				
				<button class="w3-btn-block" [routerLink]="['/installed-kor/golf-club-kor']">Pictures</button>
			</div>
			
		</div><hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h1>수호천사 동물병원</h1>				
				 <button class="w3-btn-block" [routerLink]="['/installed-kor/pet-hospital-kor']">Pictures</button>
			</div>
			
		</div><hr>
	</div>
</div>
