

<!--<div class="container">
	<div class="row">
            <div class="col-md-6 col-xs-12">
                  <img src="img/female-1840307_1920.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                  
                         <div id="About">
                              <p>BAUM is a brand that was born with raw materials and technology made in nature.</p>
                              <p>Like the providence of nature, born of nature and returning to nature, we always miss nature even in modern civilization.</p>
                              <p>I want a green tree forest instead of a bare building forest. I want a clear natural sound rather than a loud mechanical sound. Baum makes all of us close to nature with a footprint.</p>
                              <p>Baum does not use bad ingredients. It is a natural eco-friendly raw material that grows in forests rather than chemical raw materials. There is nothing in nature that makes you blatant. There is no fad, no skill, always honest.</p>
                              <p>Baum improves the bad smell and environment through honest natural ingredients and makes our life clean and pleasant.</p>
                              <p>Everywhere we are, Baum will make the environment closer to nature.</p>
                        </div>
            </div>     
      </div>
</div>-->




      <div class="row">
            <div class="col-md-6 col-xs-12">
                  <img src="img/female-1840307_1920.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                  
                         <div id="about">
                              <p>BAUM is a brand that was born with raw materials and technology made in nature.</p><br>
                              <p>Like the providence of nature, born of nature and returning to nature, we always miss nature even in modern civilization.</p><br>
                              <p>I want a green tree forest instead of a bare building forest. I want a clear natural sound rather than a loud mechanical sound. Baum makes all of us close to nature with a footprint.</p><br>
                              <p>Baum does not use bad ingredients. It is a natural eco-friendly raw material that grows in forests rather than chemical raw materials. There is nothing in nature that makes you blatant. There is no fad, no skill, always honest.</p><br>
                              <p>Baum improves the bad smell and environment through honest natural ingredients and makes our life clean and pleasant.</p><br>
                              <p>Everywhere we are, Baum will make the environment closer to nature.</p>
                        </div>
            </div>     
      </div>
