<!--<div class="container">
	<h1>BAUM goal</h1>
	<hr>
	<p>Our goal is to make our country a better place to live. There are many dangerous things in our life that we don't know about, because we can't see them. You think that it won't affect you, but it will. One of this danger can be found in almost every home. Its name is "radon". A bad chemical(?) that is used in construction. It is so dangerous, that it can lead to lung cancer! Think about yourself and your family. Every day you are affected by it. In more advanced countries like Germany, they use special machine in new buildings to extract radon. It doesn't happen like this in Korea. This is just one possible danger that is surrounding you and there are many more.</p>
	<p>We want to help people to realize the conditions in which we all live and help them to make it safer with our products/services. Phytonchide can remove radon easily, and you don't need a huge machine to do it. You can use our natural product to remove the danger and get other benefits that our product can give you.</p>
	<p>Lets make our country a better place to live, for us and our kids!</p>
	<img src="img/carousel11.jpg" class="img-responsive">
</div>-->





<!--<div class="container">
	<div class="row">
	
	<div class="col-md-6 col-sm-12">
		<div id="goal">
			<p>Our goal is to make our country a better place to live. There are many dangerous things in our life that we don't know about, because we can't see them. You think that it won't affect you, but it will. One of this danger can be found in almost every home. Its name is "radon". A bad chemical(?) that is used in construction. It is so dangerous, that it can lead to lung cancer! Think about yourself and your family. Every day you are affected by it. In more advanced countries like Germany, they use special machine in new buildings to extract radon. It doesn't happen like this in Korea. This is just one possible danger that is surrounding you and there are many more.</p>
			<p>We want to help people to realize the conditions in which we all live and help them to make it safer with our products/services. Phytonchide can remove radon easily, and you don't need a huge machine to do it. You can use our natural product to remove the danger and get other benefits that our product can give you.</p>
			<p>Lets make our country a better place to live, for us and our kids!</p>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<img src="img/carousel11.jpg" class="img-responsive">
	</div>
</div>
</div>-->

<!--<div class="container">
	<header>
		<h2>A professional patent that is difficult for the general public to understand</h2>
		<h4>(Materials to prove that there is no harmful ingredient)</h4>
	</header>
	<br>
	<h3>Secured Report</h3><br>
	<h4>1.Baum Oriental Infusion 7 'concern for product self-inspection'</h4><br>
	<p>→It was conducted at the Korea Construction & Living Environment Testing Institute (KCL).</p><br>
	<p>→In the case of Baum Oriental Infusion 7, formaldehyde / methanol / benzene glyoxal / trichlorethylene were not detected as criteria for passing the fragrance, and PHMG, PGH, PHMB, vinyl chloride, and sodium boronate were not included in the composition.</p><br>
	<p>→In the case of Baum Oriental Infusion 7, formaldehyde / methanol / ethylene oxide / naphthalene / chlorine dioxide / 3-iodo-2-propyl butylcarbamate / silver / benzene / glyoxal / trichlorethylene were not detected as deodorant acceptance criteria. PHMG, PGH, PHMB, vinyl chloride, and sodium boronate are not included in the product.</p><br><hr><br>
	<h4>2.Baum Oriental Infusion 7 GC-MS Results</h4><br>
	<p>→Analytical data of Korea Research Institute of Chemical Technology (KCTU) and its components were analyzed by gas chromatography-mass spectrometer. It can be proved that it is a natural substance with no preservatives or surfactants at peaks almost similar to monobasic oil GC-MS.</p><br><hr><br>
	<h4>3.Baum Oriental Infusion 7 Heavy Metals Not Detected</h4><br>
	<p>→It is conducted by the Korea Institute of Construction & Environment Testing (KCL) and is safe with lead / cadmium / mercury / arsenic insensitivity.</p><br><hr><br>
	<h4>4.Baum Oriental Infusion 7 pH Score</h4><br>
	<p>→It is carried out at Korea Construction & Environment Research Institute (KCL), and it is safe because it is close to neutrality at pH6.4.</p>
</div>-->

<div class="container">
	<h2>Plan Terrier, Greenery, Rest and Clean</h2><br>
	<h4>In 2017 [Greenery] was selected as the Pantone of the Year, in 2016 it was [Lush Meadow].</h4>
	<div class="container">
		<p>Greenery is full of refreshing, energetic nature, rich in green that seems to contain the first steps of spring.</p>
		<p>It expresses the beauty of nature that has been forgotten in busy modern life, and at the same time, it has a meaning to announce a new beginning.</p>
		<p>Minimal life and plan terrier that many people are looking for with Greenery.</p>
		<p>There is Baum on the extension line.</p>
		<p>Relax in a clean space and stay with Baum so you can feel nature.</p><br><hr><br>

	<p><b>Baum uses only the trees and leaves grown in clean areas to extract natural ingredients.</b></p> 
	<p><b>Do not add any artificial substances such as emulsifiers or nitrogen gas.</b></p><br><hr><br>

	<p>This ingredient is a phytoncide called natural antibiotic, natural insect repellent and natural detergent.</p>
	<p>Phytoncide is a natural antimicrobial substance produced by plants to protect themselves from pathogens, insects and fungi.</p>
	<p>It has been a clever instinct of the people to breathe the good air in the forest from the old days and do the forest bathing to relieve the stress.</p>
	<p>Today, it has been shown that phytoncide's constituents are phenol compounds, such as terpenes, alkaloids, and glycosides, that have such an effect.</p><br><hr><br>

	<p>Phytoncide has relieved stress, strengthened the intestines and cardiopulmonary function, sterilized, and has the effect of peripheral blood circulation, bronchial asthma and is also known to help with tuberculosis treatment.</p>
	<p>It is also famous for its pharmacological action to disinfect the skin.</p>
	<p>Phytoncide's mysterious efficacy has been documented in many broadcasters such as EB * and MB *.</p><br><hr><br>

	<p><b>One of the most important reasons to choose BAUM among other phytoncide products is that it is an original natural product without added artificial substances.</b></p>

	</div>
</div>
