<!-- q&a Section -->
<div class="w3-container w3-padding-48 w3-center" id="background">
  
  
  <div class="w3-container main">
  <div class="w3-accordion">
  <button onclick="myAccFunc('Demo1')" class="w3-padding-16 w3-btn-block w3-left-align">질문 1</button>
  <div id="Demo1" class="w3-accordion-content w3-padding-large">
    <div class="w3-container">
      <p class="w3-left-align">대답 1.</p>
    </div>
  </div>
  <button onclick="myAccFunc('Demo2')" class="w3-padding-16 w3-btn-block w3-left-align">질문 2</button>
  <div id="Demo2" class="w3-accordion-content w3-padding-large">
    <div class="w3-container">
      <p class="w3-left-align">대답 2.</p>
    </div>
  </div>
  <button onclick="myAccFunc('Demo3')" class="w3-padding-16 w3-btn-block w3-left-align">질문 3</button>
  <div id="Demo3" class="w3-accordion-content w3-padding-large">
    <div class="w3-container">
      <p class="w3-left-align">대답 3.</p>
    </div>
  </div>
  </div>
  </div>
</div>