
<!-- q&a Section -->
<div id="background2">
  <h1 class="text">Oriental infusion series</h1>
  <div class="border">
  <div class="row w3-center w3-accordion">
    
      <div class="col-md-6 col-sm-12">
        
          <div class="description">
            <p>It is not difficult to live away from chemicals with the advent of the "No Chemical" group, which refers to consumers who reject products containing chemicals. Little attention is paid to what is the raw material and how the manufacturing process is done to make a healthy routine.</p>
            <p>Safety-friendly Oriental infusion Series certified by patent and chemical non-detection test report.</p>
            <p>One stop process system from raw material to manufacturing, good environmental friendly product which is not added chemical substance at all ...</p>
            <p>Unprecedented 100% Hinoki oil aqueous solution.</p>
            <p>Excellent antimicrobial and sterilizing effect and excellent effect to relieve stress ...</p>
            <p>Oriental infusion Series for deodorization and removal of harmful substances to experience the effects of forest bathing indoors.</p>
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <img src="img/pa-1807476_1920.jpg" class="img-responsive">
      </div>
    
  </div>

  
    <div class="row w3-center">      
      <button onclick="myAccFunc('inf7')" class="w3-padding-16 w3-btn-block"><h4>Oriental infusion May “5”</h4></button>
        <div id="inf7" class="w3-accordion-content w3-padding-large">
          <div class="product">
            <p>-The deodorization is to remove harmful substances (such as formaldehyde, toluene, xylene, etc.) in the house and car by the effect of basic sick house syndrome, new car syndrome and indoor air purification.</p>
            <p>-It has excellent long-term accumulation of stench and tobacco odor elimination effect, and you can feel excellent effect in closed shop or smoking establishment.</p>
            <p>-Residential, medical, accommodation, educational, shopping and smoking areas.</p>
          </div>        
        </div>
      
      <button onclick="myAccFunc('inf5')" class="w3-padding-16 w3-btn-block"><h4>Oriental infusion July “7”</h4></button>
        <div id="inf5" class="w3-accordion-content w3-padding-large">
          <div class="product">
            <p>In addition to Oriental infusion 5</p>
            <p>-Stress reduction effect by antibacterial, antifungal and immune cell activation.</p>
            <p>-From the effect of avoiding pests and dust mites, to improving health condition against atopy disease.</p>
            <p>-It is 25 times more effective than general deodorant and fragrance added with chemical ingredients.</p>
            <p>-It can be done anywhere in your daily life, including residential, medical, accommodation, educational, shopping and smoking areas.</p>
          </div>
        </div>      
    </div>
    </div>
    <br>
    
    <h1 class="text">Oh MY! Series</h1>
    <div class="border">
    <div class="row w3-center w3-accordion">  
      <div class="col-md-6 col-sm-12">
          <img src="img/info.jpg" class="img-responsive">
      </div>  
      <div class="col-md-6 col-sm-12">
        
          <div class="description">
            <p>-Products that make Oriental Infusion a little easier and more convenient</p>
            <p>-It's easy to carry</p>
            <p>-Stylish aluminum tin case</p>
            <p>-Can be stored in sunlight without deterioration and is portable</p>
            <p>-Superior effect in small amount by fine particle spraying</p>
            <p>-Oh my Series, which is easy to use in everyday life, can be used for clothes, shoes, bags and other necessities</p>
            <p>-We also have precious pet only.</p>
          </div>
      </div>   
    </div>
    
    <div class="row w3-center">      
      <button onclick="myAccFunc('oms')" class="w3-padding-16 w3-btn-block"><h3>Oh MY! Shoes</h3></button>
        <div id="oms" class="w3-accordion-content w3-padding-large">
          <div class="product">
            <p>It is not a way to solve the foot odor caused by fungi and athlete's foot in the shoes simply by covering the smell for a short time,</p>
            <p>Oh! My shoes suppress and decompose fungus, athlete's foot smell, which solves the fundamental thing, and removes foot odor.</p>
            <p>Oh! My shoes will keep your shoes fresh for a long time!</p>
          </div>        
        </div>
      
      <button onclick="myAccFunc('omp')" class="w3-padding-16 w3-btn-block"><h3>Oh MY! Pet</h3></button>
        <div id="omp" class="w3-accordion-content w3-padding-large">
          <div class="product">
            <p>Odor caused by feces in the process of raising a pet, and allergic diseases caused by floating in the air such as skin keratin and hair of a pet are solved in a nature-friendly way</p>      
            <p>Makes better environment for raising pets.</p>
            <p>It is also safe for pet skin and it is also sprayed on the excreted space to wash away odor and germs at once</p>
          </div>
        </div>      
    </div>
 </div>

  
  
  
</div>


 