<div class="container">
	<header>
		<h2>A professional patent that is difficult for the general public to understand</h2>
		<h4>(Materials to prove that there is no harmful ingredient)</h4>
	</header>
	<br>
	<h3>Secured Report</h3><br>
	<h4>1.Baum Oriental Infusion 7 'concern for product self-inspection'</h4><br>
	<p>→It was conducted at the Korea Construction & Living Environment Testing Institute (KCL).</p><br>
	<p>→In the case of Baum Oriental Infusion 7, formaldehyde / methanol / benzene glyoxal / trichlorethylene were not detected as criteria for passing the fragrance, and PHMG, PGH, PHMB, vinyl chloride, and sodium boronate were not included in the composition.</p><br>
	<p>→In the case of Baum Oriental Infusion 7, formaldehyde / methanol / ethylene oxide / naphthalene / chlorine dioxide / 3-iodo-2-propyl butylcarbamate / silver / benzene / glyoxal / trichlorethylene were not detected as deodorant acceptance criteria. PHMG, PGH, PHMB, vinyl chloride, and sodium boronate are not included in the product.</p><br><hr><br>
	<h4>2.Baum Oriental Infusion 7 GC-MS Results</h4><br>
	<p>→Analytical data of Korea Research Institute of Chemical Technology (KCTU) and its components were analyzed by gas chromatography-mass spectrometer. It can be proved that it is a natural substance with no preservatives or surfactants at peaks almost similar to monobasic oil GC-MS.</p><br><hr><br>
	<h4>3.Baum Oriental Infusion 7 Heavy Metals Not Detected</h4><br>
	<p>→It is conducted by the Korea Institute of Construction & Environment Testing (KCL) and is safe with lead / cadmium / mercury / arsenic insensitivity.</p><br><hr><br>
	<h4>4.Baum Oriental Infusion 7 pH Score</h4><br>
	<p>→It is carried out at Korea Construction & Environment Research Institute (KCL), and it is safe because it is close to neutrality at pH6.4.</p>
</div>