<!--<div class="container animated slideInUp">
	<h1>바움 소개</h1>
      <hr>
	<div id="About" class="w3-container w3-padding-48">
      <p>자연에서 만들어진 원료와 기술이 만나 탄생한 브랜드 ‘BAUM[바움]’</p>
      <p>자연으로 태어나 자연으로 돌아가는 자연의 섭리처럼 현대 문명속에서도 우리는 항상 자연을 그리워하고 있습니다.</p>
      <p>빼곡한 빌딩숲이 아닌 푸른 나무 숲을 원하며, 시끄러운 기계음보다는 맑은 자연의 소리를 원합니다. 바움은 우리가 있는 모든 곳을 자연과 한 발자국 가깝도록 만들어줍니다.</p>
      <p>바움은 나쁜 원료를 사용하지 않습니다. 화학 원료가 아닌 숲에서 자라난 자연의 친환경 원료입니다. 자연은 허투루 하는 것이 하나도 없습니다. 유행을 타지 않고 기교가 없으며 항상 정직합니다.</p>
      <p>바움은 정직한 자연의 원료를 통해 나쁜 냄새와 환경을 개선시키고 우리의 삶을 깨끗하고 쾌적하게 만들어줍니다.</p>
      <p>우리가 있는 모든 곳, 바움이 자연과 더욱 가까운 환경으로 만들 것입니다.</p>
	</div>
</div>-->



      <div class="row">
            <div class="col-md-6 col-xs-12">
                  <img src="img/female-1840307_1920.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                  
                         <div id="about">
                              <p>자연에서 만들어진 원료와 기술이 만나 탄생한 브랜드 ‘BAUM[바움]’</p><br>
                              <p>자연으로 태어나 자연으로 돌아가는 자연의 섭리처럼 현대 문명속에서도 우리는 항상 자연을 그리워하고 있습니다.</p><br>
                              <p>빼곡한 빌딩숲이 아닌 푸른 나무 숲을 원하며, 시끄러운 기계음보다는 맑은 자연의 소리를 원합니다. 바움은 우리가 있는 모든 곳을 자연과 한 발자국 가깝도록 만들어줍니다.</p><br>
                              <p>바움은 나쁜 원료를 사용하지 않습니다. 화학 원료가 아닌 숲에서 자라난 자연의 친환경 원료입니다. 자연은 허투루 하는 것이 하나도 없습니다. 유행을 타지 않고 기교가 없으며 항상 정직합니다.</p><br>
                              <p>바움은 정직한 자연의 원료를 통해 나쁜 냄새와 환경을 개선시키고 우리의 삶을 깨끗하고 쾌적하게 만들어줍니다.</p><br>
                              <p>우리가 있는 모든 곳, 바움이 자연과 더욱 가까운 환경으로 만들 것입니다.</p>
                        </div>
            </div>     
      </div>
