<div id="background2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h1>Seosansu Golf & Resort</h1>
				
				<button class="w3-btn-block" [routerLink]="['/installed/golf-club']">Pictures</button>
			</div>
			
		</div><hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h1>Suhocheonsa Pet Hospital</h1>
				
				 <button class="w3-btn-block" [routerLink]="['/installed/pet-hospital']">Pictures</button>
			</div>
			
		</div><hr>
	</div>
</div>
