
<div id="background">
<div class="container">
<div class="row w3-center">
  <h2>암모니아 / 아민 99.6% 제거</h2>
  <div class="col-md-4 col-xs-12">
   
    <img src="img/cert-1-2.jpg" style="width:60%;" onmousedown="block()" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>
  <div class="col-md-4 col-xs-12">
 
    <img src="img/cert-2-2.jpg" style="width:60%;" onmousedown="block()" onclick="openModal();currentSlide(2)" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>  
</div><br><hr><br>

<div class="row w3-center">
<h2>대장균 / 황색포도상구균 99.9% 제거</h2>
  <div class="col-md-4 col-xs-12">
 
    <img src="img/cert-7.jpg" style="width:60%;" onmousedown="block()" onclick="openModal();currentSlide(7)" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>
  <div class="col-md-4 col-xs-12">
 
    <img src="img/cert-8.jpg" style="width:60%;" onmousedown="block()" onclick="openModal();currentSlide(8)" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>
   
</div><br><hr><br>

<div class="row w3-center">
  <h2>유해물질 불검출</h2>
  <div class="col-md-4 col-xs-12">
  
    <img src="img/cert-3-2.jpg" style="width:60%;" onmousedown="block()" onclick="openModal();currentSlide(3)" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>
  <div class="col-md-4 col-xs-12">
  
   <img src="img/cert-4-2.jpg" style="width:60%;" onmousedown="block()" onclick="openModal();currentSlide(4)" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>
  <div class="col-md-4 col-xs-12">
  
    <img src="img/cert-5-2.jpg" style="width:60%;" onmousedown="block()" onclick="openModal();currentSlide(5)" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>
  
  
</div>

<div class="row w3-center">
  <div class="col-md-4 col-xs-12">
     <img src="img/cert-6-2.jpg" style="width:60%;" onmousedown="block()" onclick="openModal();currentSlide(6)" class="hover-shadow" alt="baum certificate 바움 증명서">
  </div>
  <div class="col-md-4 col-xs-12">
      <img src="img/cert-9-2.jpg" style="width:60%;"  onmousedown="block()" onclick="openModal();currentSlide(9)" class="hover-shadow" alt="baum certificate 바움 증명서">
 
  </div>
</div>


</div>
</div>