<div class="container">
	<header>
		<h2>일반인이 이해하기 힘든 전문적인 특허증</h2>
		<h4>(유해성분이 전혀 없다는 것을 입증할 자료)</h4>
	</header>
	<br>
	<h3><확보된 성적서></h3><br>
	<h4>1.바움 오리엔탈 인퓨전7 ‘위해우려제품자가검사’</h4><br>
	<p>→한국건설생활환경시험연구원(KCL)에서 진행하였고 옥시사태 이후 방향제, 탈취제가 위해 우려물질 검사 대상이 됐습니다.</p><br>
	<p>→바움 오리엔탈 인퓨전7의 경우 방향제 합격 기준인 포름알데하이드/메탄올/벤젠글리옥살/트리클로로에틸렌이 불검출 됐으며 구성 원료로서 PHMG, PGH, PHMB, 염화비닐, 붕소산 사나트륨염이 포함되지 않아 합격판정을 받았습니다.</p><br>
	<p>→바움 오리엔탈 인퓨전7의 경우 탈취제 합격 기준인 포름알데아이드/메탄올/산화에틸렌/나프탈렌/이산화염소/3-요오드2-프로팔일 뷰틸 카마신산/은/벤젠/글리옥살/트리클로로에틸렌이 불검출 됐으며 구성 원료로서 PHMG, PGH, PHMB, 염화비닐, 붕소산 사나트륨염이 포함되지 않아 합격판정을 받았습니다.</p><br><hr><br>
	<h4>2.바움 오리엔탈 인퓨전7 GC-MS 결과</h4><br>
	<p>→한국화학연구원 분석 data, 제품의 성분을 Gas chromatography-Mass spectrometer를 이용해 분석했는데 편백오일 GC-MS와 거의 유사한 피크 로 방부제, 계면활성제가 없는 천연물질임을 증명할 수 있습니다.</p><br><hr><br>
	<h4>3.바움 오리엔탈 인퓨전7 중금속 불검출 성적</h4><br>
	<p>→한국건설생활환경시험연구원(KCL)에서 진행, 납/카드뮴/수은/비소 불검출로 안전합니다.</p><br><hr><br>
	<h4>4.바움 오리엔탈 인퓨전7 pH 성적</h4><br>
	<p>→한국건설생활환경시험연구원(KCL)에서 진행, pH6.4로 중성에 가까워 안전합니다.</p>
</div>
